<% include partials/header %>
<h1>This is the Campsite Page</h1>

<% campsites.forEach(function(campsite){ %>
    <div> 
        <h4><%= campsite.name %></h4>
        <img src="<%= campsite.image %>">
    </div>
<% }); %>

<% include partials/footer %>